// @use '../utils/variables/variables' as *;
@use '../utils/mixins' as *;

@use '../blocks/header/header';
@use '../blocks/header/header__nav-submenu';

.page {
  box-sizing: border-box;

  &__body {
    margin: 0;
    @include page-standart-font();
    min-height: 100vh;
  }
}

.container {
  max-width: 1200px;
  margin: 80px auto;
  padding: 0 20px;
  text-align: center;

  h1 {
    font-size: 32px;
    font-weight: 900;
  }
}