@mixin page-standart-font($weight: 400) {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: $weight;
  line-height: 140%;
}

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}


@mixin page-padding-inline {
  padding-inline: 20px; 

  @include tablet {
    padding-inline: 40px;
  }

  @include desktop {
    max-width: 1200px;
    padding-inline: 80px;
  }
}

@mixin page-grid {
  display: grid;
  gap: 20px; // Відступ між колонками (можна винести в змінну)

  // Телефон: 2 колонки
  grid-template-columns: repeat(2, 1fr);

  // Планшет: 6 колонок
  @include tablet {
    grid-template-columns: repeat(6, 1fr);
  }

  // Комп'ютер: 12 колонок
  @include desktop {
    grid-template-columns: repeat(12, 1fr);
  }
}