@use "../utils/mixins" as *;
@use "../utils/variables/variables";

.page {
  @include page-standart-font();

  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  &__body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
