@use "../../utils/mixins" as *;
@use "../../utils/variables/variables" as *;

.submenu {
  background-color: rgb(174, 174, 174);
  border-radius: 20px;
  display: none; // Сховано за замовчуванням
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 250px;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  z-index: 100;
  overflow: hidden;

  // Модифікатор для відображення через JS
  &--active {
    display: block;
  }

  &__item {
    width: 100%;
  }

  &__link {
    @include page-standart-font(400);
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}

// Вкладений список предметів
.submenu-nested {
  display: none; // Сховано
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.1); // Трохи темніший фон для акценту

  &--active {
    display: block; // Відкриваємо по кліку
  }

  &__link {
    @include page-standart-font(400);
    font-size: 13px;
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 8px 30px; // Зсув вправо для ієрархії

    &:hover {
      text-decoration: underline;
    }
  }
}